body {
    font-family: sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

header.index {
    display: flex;
    align-items: start;
    background-color: #909090;
    padding: 16px;
    font-size: 1.5em;
    font-weight: 700;
}

nav {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding: 8px;
}

nav a {
    background-color: darkgray;
    margin-inline: 8px;
    padding: 16px;
    border-radius: 16px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;

}

li {
    font-size: 28px;
    font-weight: bold;
}

p {
    font-size: 28px;
    transition-duration: .2s;
}

p:hover {
    color: darkblue;
}

p:active {
    color: blue;
}

body {
    margin-block: 0px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    max-width: 800px;
    margin-inline: auto;
    border-inline: 4px solid darkgray;
    padding-inline: 16px;
    background-color: snow;
}

section.gallery {
    max-width: 224px;
    margin-inline: auto; 
    border-inline: 4px solid darkgray;
    padding-inline: 8px;
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.pg-expl {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    justify-content: center;
}

/*IMAGES*/

img.sm {
    padding: 4px;
    border-radius: 8px;
}

a.sm:active img.sm {
    width: 96px;
    padding: 6px;
    padding-bottom: 4px;
    border-radius: 12px;
}

figcaption.sm {
    max-width: 98px;
    padding: 4px;
    padding-left: 6px;
    padding-top: 0px;
    font-size: 12px;
    color: white;
    display: flex;
    flex: content;
}

a.sm {
    display: flex;
    flex-direction: column;
    max-width: 112px;
    background-color: gray;
    justify-content: space-between;
    margin-bottom: 8px;
    text-decoration: none;
    border-radius: 6px;
}

a.sm:hover {
    box-sizing: border-box;
    background-color: lightslategray;
}

a.sm:active {
    border-radius: 10px;
    background-color: hsl(0, 0%, 47%);
}

/*Comment*/